 {% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classk</title>

    <!-- bootstrap cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- javascript cdn bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- custom css -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
</head>

<body style="background-image: url('https://i.imgur.com/AYCCYjU.jpg');">

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center" id="brand">Classk</h2>
                <h2 class="text-center text-black mb-4" id="brand">Login To Your Account</h2>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <span class="anchor" id="formLogin"></span>

                        <!-- form card login -->
                        <div class="card rounded-0" id="login-card-0">
                            <div class="card-header">
                                <h3 class="mb-0 text-center">LOGIN</h3>
                            </div>
                            {% if error_message %}
                            <p class="lead text-center"><strong id="error">{{ error_message }}</strong></p>
                            {% endif %}
                            <div class="card-body">
                                <form class="form" role="form" method="post" enctype="multipart/form-data" id="formLogin">{% csrf_token %}
                                    <div class="form-group">
                                        <label for="uname1">Username</label>
                                        <input type="text" class="form-control form-control-lg rounded-0" name="username" id="uname1" required="">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" name="password" autocomplete="new-password">
                                    </div>
                                    <div>
                                        <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" onclick="myFunction()">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description small">Show Password</span><br/>
                                        </label>
                                        <h5 class="custom-control-description medium">Don't have an account? <a href="{% url 'accounts:register' %}" id="link">Register</a> Today</h5>
                                    </div>
                                    <button type="submit" class="btn btn-lg float-right" id="button-0">Login</button>
                                </form>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->

                    </div>


                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
</body>
<script type="text/javascript">
    // to show the password
    function myFunction() {
        var x = document.getElementById("pwd1");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

</html>