{% extends 'main/base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9" id="profile2">
            <h3><strong>{{ details.full_name |upper }}</strong></h3>
            <h4>{{ details.location }}</h4>
            <p>{{ details.bio }}</p>

        </div>
        <div class="col-dmd-3" id="profile">
            <p>Date Joined: {{ profile.date_joined }}</p>
            <p>Last Active: {{ profile.last_login }}</p>
            <p> Questions asked: {{asked}}</p>
            <p>Answers: {{answered}}</p>
        </div>
    </div>

</div>

<!-- new container starts with the user statistics on the site -->
<div class="container" style="margin-top: 7px;">
    <div class="row">
        <div class="col-md-12" style="background-color:white;">
            <h1 id="brand" class="text-center">Recent Activity</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="background-color:white;">
            <table class="table table-hover">
                <thead style="background:black; color:white;">
                    <tr>
                        <th>Recent Answers</th>
                    </tr>
                </thead>
                <tbody>
                    {% if recent_answers %} {% for r in recent_answers%}
                    <tr>

                        <td><a href="#" style="text-decoration:none;">{{r.question}}</a></td>
                    </tr>
                    {% endfor %} {% else %}
                    <tr>
                        <td>No answers asked</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6" style="background-color:white;">
            <table class="table table-hover">
                <thead style="background:black; color:white;">
                    <tr>
                        <th>Recent Questions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if recent %} {% for r in recent %}
                    <tr>
                        <td><a href="{% url 'main:details' r.slug %}" style="text-decoration:none;">{{r.title}}</a></td>
                    </tr>
                    {% endfor %} {% else %}
                    <tr>
                        <td>No questions asked</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- table -->

</div>
{% endblock %}