{% extends 'main/base.html' %} {% block content %}


<!-- end of the message container -->
<!-- start of the actual questions -->
<div class="container-fluid">
    <h1 class="text-left" id="brand"> {{ title }}</h1>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div id="qtns">
                {% for q in all_satisfied %}
                <a href="{% url 'main:details' q.slug %}" id="questions">
                    <h4 id="titleq">{{ q.title }}</h4>
                    {% if q.satisfied %}
                    <i data-toggle="tooltip" data-placement="top" title="Marked Satisfied by the owner of the question." class="fas fa-check"
                        style="color:green;"></i>
                    {% else %}
                    <i>No results yet</i>
                    {% endif %}
                </a>
                <a href="{% url 'main:filter' q.category %}">
                    <p class="badge" style="background:#003346; color:white;">{{ q.category }}</p>
                </a>
                <p id="titleq">{{ q.date |timesince }} ago.
                    <a href="{% url 'accounts:profile' q.user %}" id="questions-user-link">{{ q.user }}</a>
                </p>
                <div class="text-right">
                    <p>Answers: {{q.num_answers}}</p>
                </div>
                <hr> {% endfor %}
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div id="qtns1">
                {% if not user.is_authenticated %}
                <a href="{% url 'accounts:login' %}?next={% url 'main:ask-question' %}" class="btn btn-md btn-info">Ask Question</a>
                <br>
                <br> {% else %}
                <a href="{% url 'main:ask-question' %}" class="btn btn-md btn-warning">Ask Quesiton</a>
                <br>
                <br> {% endif %}
                <div class="qtns2">
                    {{ title }}: {{count_of_sa}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="text-center">
        <!-- pagination for the limited display of questions -->
        <nav aria-label='pagination'>
            {% if all_satisfied.has_other_pages %}
            <ul class="pagination">
                {% if all_satisfied.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ all_satisfied.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
                {% endif %} {% for i in all_satisfied.paginator.page_range %} {% if all_satisfied.number == i %}
                <li class=" page-item active">
                    <span class="page-link">{{ i }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if all_satisfied.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ all_satisfied.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class=" page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endif %} {% endblock %}