{% extends 'main/base.html' %} {% block content %}

<div class="container">
    <h1 class="display-4 text-center"> Ask Questions</h1>
    <form action="" method="POST" enctype="multipart/form-data" id="question">
        {% csrf_token %}

        <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            <select class="form-control" id="exampleFormControlSelect1" name="values">
            {% for l in lists %}
            <option value="{{ l.category }}">{{ l.category }}</option>
            {% endfor %}
        </select>
        </div>

        <label for="title">Title</label>
        <input class="form-control form-control-lg rounded-0" type="text" name="title" value="Short title of the problem"><br>

        <label for="description">Description</label>
        <textarea class="form-control form-control-lg rounded-0" type="textarea" name="description" cols="5" rows="10"></textarea><br>

        <input type="submit" class="btn btn-md btn-info" value="Post">
    </form>
</div>
{% endblock %}