<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classk</title>

    <!-- bootstrap cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>

<body>
    <!-- NAVIGATION BAR  GOES HERE -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#27333F;">
            <div class="container">
                <a class="navbar-brand text-white" href="{% url 'main:home' %}" id="brand">ClassK</span></a>
                <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <!--this is the input for the search-->
                    <div class="bam-navbar-search smallsearch col-sm-8 col-xs-11">
                        <form action="{% url 'main:home' %}" method="get" class="row">
                            <input class="bam-navbar-input col-md-11" type="" placeholder="Search Questions.." name="q" , value="">
                            <button class="bam-navbar-button col-md-1">
                                    <svg width="15px" height="15px">
                                        <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                                    </svg>
                                </button>
                        </form>
                    </div>
                    <!--end of input-->
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end" id="item">
                        <!-- categories -->
                        <!-- dropdown -->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                            {{ user.username }}
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'accounts:profile' user.username %}">My Profile</a>
                                <a href="{% url 'accounts:change_password' %}" class="dropdown-item">Change Password</a>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                            Account
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
                                <a class="dropdown-item" href="{% url 'accounts:register' %}">Create a Free Account</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock %}
    <!-- footer -->
    <footer class="mainfooter" role="contentinfo">

        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Address</h4>
                            <address>
            <ul class="list-unstyled">
                <li>
            Samakhusi<br>
                    Tokha Road, Kathmandu<br>
                    Nepal<br>
                </li>
                <li>
                    Phone: 0
                </li>
            </ul>
            </address>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Extra Features</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#"></a>
                                </li>
                                <li><a href="#">Send Feedbacks</a></li>
                                <li><a href="{% url 'main:request_topic' %}">Request Topics</a></li>
                                <li><a href="{% url 'main:display_request' %}">See Requests</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Website Information</h4>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'main:tutorial' %}">Website Tutorial</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Website By Onthir</h4>
                            <ul class="list-unstyled">
                                <li><a href="https://bibek13.pythonanywhere.com/?">MovieHub</a></li>
                                <li><a href="https://onthir.herokuapp.com/">Onthir Blog</a></li>
                                <li><a href="https://onthir.github.io">Portfolio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--Footer Bottom-->
                        <p class="text-xs-center">&copy; Copyright 2017 - Classk. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer end -->

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>