{% extends 'main/base.html' %} {% block content %}

<div class="container">
    <h1 id="brand" class="text-center">All User Requests</h1>

    <table class="table table-hover table-dark">
        <thead style="background-color:white; color:black;">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scopre='col'>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for r in requests %}
            <tr>
                {% if r.user == request.user %}
                <td>{{r.user}} <br>
                    <p class="badge badge-primary"><span>Your Request</span></p>
                </td>
                <td>{{ r.title }}</td>
                <td>{{r.date}}</td>
                <td>{{ r.description |slice:":255" }}</td>
            </tr>
            {% else %}
            <td>{{r.user}}</td>
            <td>{{ r.title }}</td>
            <td>{{r.date}}</td>
            <td>{{ r.description |slice:":255" }}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}