{% extends 'main/base.html' %} {% block content %}


<!-- end of the message container -->
<!-- start of the actual questions -->
<div class="container-fluid">
    <hr>
    <a href="{% url 'main:all_satisfied' %}" id="trend_links">#All Satisfied Questions</a>&nbsp;&nbsp;
    <a href="{% url 'main:no_results' %}" id="trend_links">#No Results Questions</a>&nbsp;&nbsp;
    <a href="#" id="trend_links">#today</a>&nbsp;&nbsp;
    <a href="#" id="trend_links">#trending</a>&nbsp;&nbsp;
    <a href="#" id="trend_links">#featured</a>&nbsp;&nbsp;
    <hr>
    <div class="row">
        <!-- trending column -->
        <div class="col-md-4 col-sm-12">
            <div id="qtns1">
                {% if not user.is_authenticated %}
                <div class="text-center">
                    <a href="{% url 'accounts:login' %}?next={% url 'main:ask-question' %}" class="btn btn-lg btn-info">Ask Question</a>
                </div>
                <br>
                <br> {% else %}
                <div class="text-center">
                    <a href="{% url 'main:ask-question' %}" class="btn btn-lg btn-warning">Ask Quesiton</a>
                </div>
                <br>
                <br> {% endif %}
                <div class="qtns2">
                    Trending Question: {% if trend %}
                    <a href="{% url 'main:details' trend.slug %}" id="trend_links">
                        <p>{{ trend }}</a> -
                    <i class="fas fa-user-circle"></i>
                    <i>{{ trend.user }}</i>
                    </p>
                    <p>
                        <i>Posted On: </i>{{ trend.date}}</p>
                </div>
                <br>
                <p class="text-center">
                    <i class="fas fa-trophy" style="color:#f1b838;"> </i>&nbsp;
                    <a href="#" id="links" style="color:white;">Hall Of Fame</a>&nbsp;
                    <i class="fas fa-trophy" style="color:#f1b838;"> </i>

                </p>
                {% else %}
                <p>No trending question</p> {% endif %}
                <!-- all categories -->
                <h4 class="text-white">All Categories</h4>
                {% for c in categories %}
                <a href="{% url 'main:filter' tag=c.category %}">
                    <p class="badge badge-info">{{ c.category }}</p>
                </a>
                {% endfor %}
                <!-- end all categories -->
            </div>
        </div>
        <!-- end of trending column -->
        <div class="col-md-8 col-sm-12">
            <h1 class="text-left" id="brand"> Recently Added Questions</h1>
            <div id="qtns">
                {% for q in results %}
                <a href="{% url 'main:details' q.slug %}" id="questions">
                    <h4 id="titleq">{{ q.title }}</h4>
                    {% if q.satisfied %}
                    <i data-toggle="tooltip" data-placement="top" title="Marked Satisfied by the owner of the question." class="fas fa-check"
                        style="color:green;"></i>
                    {% else %}
                    <i>No results yet</i>
                    {% endif %}
                </a>
                <a href="{% url 'main:filter' q.category %}">
                    <p class="badge" style="background:#003346; color:white;">{{ q.category }}</p>
                </a>
                <p id="titleq">{{ q.date |timesince }} ago.
                    <a href="{% url 'accounts:profile' q.user %}" id="questions-user-link">{{ q.user }}</a>
                </p>
                <div class="text-right">
                    <p>Answers: {{q.num_answers}}</p>
                </div>
                <hr> {% endfor %}
            </div>
            <br>
            <div class="container">
                <div class="text-right">
                    <!-- pagination for the limited display of questions -->
                    <nav aria-label='pagination'>
                        {% if results.has_other_pages %}
                        <ul class="pagination">
                            {% if results.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ results.previous_page_number }}">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                            {% endif %} {% for i in results.paginator.page_range %} {% if results.number == i %}
                            <li class=" page-item active">
                                <span class="page-link">{{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endif %} {% endfor %} {% if questions.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ results.next_page_number }}">&raquo;</a>
                            </li>
                            {% else %}
                            <li class=" page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
        <!-- end of the column div -->
    </div>
</div>

{% endif %} {% endblock %}