{% extends 'main/base.html' %}

{% block title %}
    Request Topics
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center display-4"> Request For A Topic</h1>

    <p>We try to address the user requests on adding topics within a week, but before you request a topic, here are few things you need to know:</p>
    <ul id="titleq">
        <li>You should check the category you want to request before you actually request.</li>
        <li>Your request must be relevant and must be important to others as well.</li>
        <li>Try to give a clearer description of the topic you are requesting.</li>
        <li>Don't try to make any categories up on your own.</li>
    </ul>
    <form action="" method='POST' enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control form-control-lg rounded-0" type="text" name="title"><br>

            <label for="description">Description</label>
            <textarea class="form-control form-control-lg rounded-0" type="textarea" name="desc" cols="5" rows="10"></textarea><br>

            <input type="submit" class="btn btn-md btn-info" value="Request">
        </div>
    </form>
</div>
{% endblock %}